.card{
    border: 1px solid;
    border-radius: 5px;
    /* text-align: center; */
    background-color: rgb(13, 20, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#sgn-in{
    color: white;
}

.form-labels{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.submt{
    background-color: rgb(82, 149, 220);
    margin-bottom: 10px;
    padding: 5px;
}

.lnk{
    color: #282f03;
}