<form >
    <div class="card">
        <h3 id="sgn-in">Add course</h3>
        <div>
            <input class="form-labels"  type="number" required placeholder="Course ID">
        </div>
        <div>
            <input class="form-labels"  type="text" required placeholder="Course name">
        </div>
        <div>
            <input class="form-labels" type="text"  required placeholder="Lecturer">
        </div>
        <div>
            <button class="submt" type="submit">Add Course</button>
        </div>
       
    </div>
</form>