<!-- <div class="lesson">
  <h1>{{ selectedLesson?.lessonTitle }}</h1>
  <pre>{{ selectedLesson?.content }}</pre>

  <div class="lesson-navigation">
    <a *ngIf="selectedLesson?.previousLessonId" [routerLink]="['/course', obj.id, 'lesson', selectedLesson.previousLessonId]" class="previous">
      Previous Lesson
    </a>
    <a *ngIf="selectedLesson?.nextLessonId" [routerLink]="['/course', obj.id, 'lesson', selectedLesson.nextLessonId]" class="next">
      Next Lesson
    </a>
  </div>
</div> -->
