<div class="content">
  
  <nav>
    <div class="dashboard-sidebar " [class.open]="isSidebar">
      <div class="sidebar-content">
        <ul class="menu-list">
          <li class="menu-item">COURSES
            <ul class="submenu">
              <li class="submenu-item">
                <button (click)="handleAction('courselist')" class="menu-button">MY COURSES</button>
              </li>
              <li class="submenu-item">
                <button (click)="handleAction('addlesson')" class="menu-button">CREATE LESSON</button>
              </li>
            </ul>
          </li>
          
          <li class="menu-item">ASSIGNMENTS
            <ul class="submenu">
              <li class="submenu-item">
                <button (click)="handleAction('addassignent')" class="menu-button">ADD ASSIGNMENT</button>
              </li>
              <li class="submenu-item">
                <button (click)="handleAction('gradeassignent')" class="menu-button grade-button">GRADE ASSIGNMENT</button>
              </li>
            </ul>
          </li>

          <li>
            <div class="bg-danger p-3 m-3">
              <button class="btn btn-danger" (click)="logout()">LOGOUT</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    

    <button class="icon" (click)="displaySidebar()">
      <i class="fa fa-bars"></i>
    </button>
  
    <div class="profile">
      <label for="name">{{ name }}</label>
      
      <div class="profile-icon">
        <i class="fa fa-user-circle"></i>
      </div>
    </div>
  </nav>

  <div *ngIf="action === 'courselist'" [style.marginLeft]="isSidebar ? '320px' : '0'">
    <app-course-list></app-course-list>
  </div>
  
  <div *ngIf="action === 'addlesson'" [style.marginLeft]="isSidebar ? '320px' : '0'">
    <div class="lesson-form-card">
      <div class="card-header">
        <h3>Add New Lesson</h3>
      </div>
      <form action="#" method="POST" class="lesson-form" [formGroup]="addLessonForm" (ngSubmit)="handleLessonSave()">
        <div class="mb-5">
          <label for="user" class="form-label">Course:</label>
          <select class="form-control" id="user" name="user" formControlName="course"> 
            <option value="">--Select Course--</option>
            <option *ngFor="let obj of courses" [ngValue]="obj.course">
              {{ obj.course.courseTitle }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="lessonNumber" class="form-label">Lesson Number</label>
          <input class="form-control" type="number" id="lessonNumber" name="lessonNumber" formControlName="orderNumber" required>
        </div>
        <div class="form-group">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" type="text" id="title" name="title" formControlName="lessonTitle" required>
        </div>
        <div class="form-group">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="content" name="content" rows="4" formControlName="content" required></textarea>
        </div>
        <div class="d-grid gap-2">
          <div class="text-center">
            <button type="submit" class="btn btn-primary submit" >Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  


  <div *ngIf="action === 'addassignent'" [style.marginLeft]="isSidebar ? '320px' : '0'">
    <div class="assignment-form-card">
      <div class="card-header">
        <h3>Add New Assignment</h3>
      </div>
      <form action="#" method="POST" class="assignment-form" [formGroup]="addAssignmentForm" (ngSubmit)="handleAssignmentSave()">
        <div class="form-group">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" type="text" id="title" name="title" formControlName="assignmentTitle" required>
        </div>
        <div class="mb-5">
          <label for="user" class="form-label">Course:</label>
          <select class="form-control" id="user" name="user" formControlName="course"> 
            <option value="">--Select Course--</option>
            <option *ngFor="let obj of courses" [ngValue]="obj.course">
              {{ obj.course.courseTitle }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="dueDate" class="form-label">Due Date</label>
          <input class="form-control" type="date" id="dueDate" name="dueDate" formControlName="dueDate" required>
        </div>
        <div class="form-group">
          <label for="mark" class="form-label">Marks</label>
          <input class="form-control" type="number" id="mark" name="mark" formControlName="pointsPossible" required>
        </div>
        <div class="form-group">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="content" name="content" rows="4" formControlName="description" required></textarea>
        </div>
        <div class="d-grid gap-2">
          <div class="text-center">
            <button type="submit" class="btn btn-primary submit" >Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="action === 'gradeassignent'"  [style.marginLeft]="isSidebar ? '320px' : '0'">
    <div *ngIf="submissionLength == 0" class="d-flex align-items-center justify-content-center" style="height: 100vh;">
      <h1 class="text-warning">There Is No Submitted Assignment Yet</h1>
     </div>
    <div *ngIf="submissionLength != 0">
      <ul class="row">
        @for(obj of submissions; track $index) {
          <!-- @if(obj.course.instructor === id){ -->
          <li class="col-12 col-md-5 card mx-3 my-4 p-3 course-card">
            <div>
              <div class="d-flex justify-content-between">
                <p><i class="fa fa-book"></i></p>
                <h3 class="text-center course-title">{{ obj.course.courseTitle }}</h3>
              </div>
              <h3 class="text-center course-title">{{ obj.assignment.assignmentTitle }}</h3>
              <div class="card mx-3 my-4 p-3">
                <p class="text-center">{{ obj.grade }}%</p>
              </div>
              
              <div class="d-flex justify-content-between">
                <button  class="btnn btn-primary mb-2">SUBMISSION DATE: {{obj.submissionDate  | date: 'dd MMM yyyy' }}</button>
                <button  class="btnn btn-primary mb-2 text-center" (click)="toggleGradeInput(obj._id)">GRADE</button>
              </div>


               <!-- Input field to enter grade -->
                <div *ngIf="gradeInputVisible[obj._id]" class="d-flex justify-content-between">
                  <input 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="gradeValue[obj._id]" 
                    placeholder="Enter grade" 
                  />
                  <button 
                    class="btnn btn-primary mb-2 text-center" 
                    (click)="submitGrade(obj._id)">
                    Submit Grade
                  </button>
                </div>

            </div>
          </li>
          }
        <!-- } -->
      </ul>
    </div>
  </div>



  


</div>


 