<!-- <div class="course-detail">
  <app-course-overview [objj]="obj" (lessonSelected)="onLessonSelected($event)"></app-course-overview>

  <div *ngIf="selectedLesson">
    <h2>{{ selectedLesson.lessonTitle }}</h2>
    <p>{{ selectedLesson.content }}</p>

    <div class="lesson-navigation">
      <a *ngIf="selectedLesson.previousLessonId" 
         [routerLink]="['/course', obj.id, 'lesson', selectedLesson.previousLessonId]" 
         class="previous">
        Previous Lesson
      </a>

      <a *ngIf="selectedLesson.nextLessonId" 
         [routerLink]="['/course', obj.id, 'lesson', selectedLesson.nextLessonId]" 
         class="next">
        Next Lesson
      </a>
    </div>
  </div>
</div> -->
