<header>
    <div class="search">
     <input type="text" placeholder="search for..." >
     <img [src]="" style="height:30px; cursor: pointer;" >
    </div> 

    <div class="profile">
     <img [src]="" alt="" style="height: 30px;">
     <label for="name" style="color: aliceblue;font-size: larger;">{{getname()}}</label>
    </div>
 </header>

 <div class="links">
     <span class="clickable" (click)="onclick()">Available Courses</span>
     <span class="clickable" (click)="onclick2()">Registered Courses</span>
 </div>

<div class="course-container">
  <!-- available courses -->
  <div class="available-courses" [hidden]="hide">
       <h3>Available Courses</h3>
    <div class="course"*ngFor="let course of Courses">
      <h6>{{course.courseID}} {{course.name}} by {{course.lecturer}}</h6>
      <button (click)="RegisterState(course)">{{course.registerState}}</button>
    </div> 
 </div>

<!-- registered courses  -->
 <div class="registered-courses" [hidden]="hide2"  >
    <h3>Registered Courses</h3>
    <div class="course" *ngFor="let course of registeredCourses()">
      <h6>{{course.courseID}} {{course.name}} by {{course.lecturer}}</h6>
      <button (click)="RegisterState(course)">{{course.registerState}}</button>
    </div>
 </div>


</div>

 
 

 