<header>
    <div class="search">
     <input type="text" placeholder="search for...">
     <img src="" style="height:22px; cursor: pointer;" >
    </div> 

    <div class="profile">
     <img src="" alt="" style="height: 30px; border-radius: 20px;">
     <label for="name" style="color: aliceblue;font-size: larger;">ps jobe</label>
    </div>
 </header>

 <div class="links">
     <span class="clickable" (click)="onclick()">create new course</span>
     <span class="clickable" (click)="onclick2()">View Taken Courses</span>
     
 </div>
 <div class="course-container">

   <div class="create-course" [hidden]="display">
      
   </div>

   <div class="taken-courses" [hidden]="display2">
      <div class="course">
         <h4>web2 by ps jobe</h4>
         <button>Delete</button>
       </div>
   </div>

 </div>